.accordion {
  display: flex;
  flex-direction: column;
  padding: 16px;

  border-radius: var(--ui-border-radius);
  border: 1px solid var(--text-color);

  .accordion-summary {
    display: flex;
    gap: 16px;
  }
}