.accordion {
  display: flex;
  flex-direction: column;
}


.accordion-item {

  padding: 8px;
  border: 1px solid var(--primary-dark_80);
  background-color: var(--primary);

  transition: all 200ms;
  transform: translateZ(0);

  will-change: border-radius, margin;

  &.frist {
    border-top-left-radius: var(--ui-border-radius);
    border-top-right-radius: var(--ui-border-radius);
    /* border-bottom: 1px solid var(--text-color); */
  }

  &.middle {
    /* border-bottom: 1px solid var(--text-color); */
  }

  &.last {
    border-bottom-left-radius: var(--ui-border-radius);
    border-bottom-right-radius: var(--ui-border-radius);
    /* border-bottom: unset; */
  }

  &.expanded {
    border-radius: var(--ui-border-radius);
    /* border-bottom: unset; */
    margin: 12px 0px;
    /* box-shadow:
      0px 0px 4px var(--grey-900_80),
      0px 0px 6px var(--grey-900_60),
      0px 10px 12px var(--grey-900_40); */
  }

  &.frist {
    margin-top: 0px;
  }

  &.top-is-extended {
    margin-top: 0px;
    border-top-left-radius: var(--ui-border-radius);
    border-top-right-radius: var(--ui-border-radius);
  }

  &.bottom-is-extended {
    border-bottom-left-radius: var(--ui-border-radius);
    border-bottom-right-radius: var(--ui-border-radius);
  }

  .accordion-summary {
    display: flex;
    align-items: center;
    gap: 16px;

    svg,
    img {
      height: auto;
      width: 20px;
    }
  }

  .accordion-content {

    interpolate-size: allow-keywords;

    display: flex;
    height: max-content;

    overflow: hidden;
    transition: height 200ms ease;

    transform: translateZ(0);

    will-change: height;

    &.collapsed {

      height: 0px;
    }




  }

}