.base-button {

  border: none;
  background-color: transparent;

  &.size-small {
    width: 24px;
    height: 24px;
    padding: 4px;
  }

  &.size-normal {
    height: 40px;
    padding: 8px 16px;
  }

  &.size-large {
    height: 48px;
    padding: 8px 16px;
  }

  &.variant-control {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--primary);
    padding: 0 4px;

    border-radius: 4px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.variant-head {
    display: flex;
    color: var(--text-color);
    background-color: var(--primary);
  }

  &.variant-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.variant-contained {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--ui-border-radius);
    border-color: var(--text-color_10);
    gap: 12px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.variant-side {
    display: flex;
    align-items: end;
    gap: 16px;

    padding-bottom: 12px;

    color: var(--text-color);

    font-size: 16px;
    line-height: 12px;
    border-radius: var(--ui-border-radius);

    svg {
      width: 14px;
      height: 14px;
    }

    &:hover {
      background-color: var(--primary_60);
    }

    &.active {
      background-color: var(--primary);
    }
  }

  &.delete-color {
    color: var(--text-color);

    &:hover {
      /* color: #F44336; */
      background-color: #b71c1c4a;
    }
  }

  &.shape-round {
    border-radius: 50%;
  }

  &.shape-square {
    border-radius: 0;
  }

}