header {
  -webkit-app-region: drag;

  --header-border-color: var(--primary-dark);

  position: relative;

  display: flex;

  height: 38px;

  border-bottom: 2px solid var(--primary);

  .controls {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: stretch;
    padding-top: 6px;

    &.left {
      padding-left: 8px;
      padding-bottom: 8px;
    }

    &.center {

      /* padding-top: 8px; */
    }

    .control-with-options {
      position: relative;
      display: flex;
      flex-direction: column;

      .control-mask {
        position: absolute;
        top: -6px;
        left: -8px;
        height: 1px;
        width: 36px;
        height: 38px;
        background-color: rgb(0, 255, 13, 0.5);
      }

      .options-position {
        position: absolute;
        bottom: -18px;
        height: 2px;
        width: 32px;
        background-color: rgba(120, 0, 0, 0.5);

        &.open {
          height: 36px;
        }
      }
    }
  }
}