.options-container {
  interpolate-size: allow-keywords;
  padding-top: 28px;
  display: flex;
  height: max-content;
}

.options {
  interpolate-size: allow-keywords;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: max-content;
  padding: 4px;
  border: 1px solid var(--text-color_20);
  border-radius: var(--ui-border-radius);

  margin: 0;

  background-color: var(--primary_80);
  list-style: none;

  backdrop-filter: blur(12px);

  .option {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    color: var(--text-color);

    .icon {
      height: 18px;
    }

    .label {
      padding-left: 8px;
    }

    &:hover {
      background-color: var(--primary-dark);
    }
  }
}