header {
  -webkit-app-region: drag;

  position: relative;

  display: flex;
  background-color: blue;

  div {
    -webkit-app-region: no-drag;
  }

  .button-slot {
    position: relative;

    .slot {
      position: absolute;
      display: block;
      width: 120px;
      height: 100px;
    }
  }
}